<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  
  <ul>
  <li><a routerLink="/principal" routerLinkActive="active">Principal</a></li>
    <li><a routerLink="/membro" routerLinkActive="active">Membros</a></li>
    <li><a routerLink="/items" routerLinkActive="active">Produtos</a></li>
    <li><a routerLink="/agendartreino" routerLinkActive="active">Agendar treino</a></li>
    <li><a routerLink="/items" routerLinkActive="active">Treinos</a></li>
     <li><a routerLink="/items" routerLinkActive="active">Produtos</a></li>
      <li><a routerLink="/cadagendartreino" routerLinkActive="active">Agendar Treino</a></li>
     
  </ul>
</nav>
<router-outlet></router-outlet>
<!-- The routed views render in the <router-outlet>-->
